<article id="post" itemscope itemtype="http://schema.org/BlogPosting">
  <a href='/'>< Home</a>

  <div>
    <h1><%- page.title %></h1> 
    <% if (page.title !== 'author' && page.title !== 'talks') { %>
      <%= date(page.date, config.date_format) %>
    <% } %>
    <%- page.content %>
  </div>
</article>