<section id="post">
  <h1><%- page.title %></h1>
  <% if (page.title !== 'Author' && page.title !== 'Talks') { %>
    <small>(<%= date(page.date, config.date_format) %>)</small>
  <% } %>
  <article>
    <%- page.content %>
  </article>
</section>