@import "_variables"

global-reset()

body
  color: $color-text
  background: $color-background
  font-family: $font-family
  min-height: 100%
  margin: 0
  display: flex
  flex-direction: column
  align-items: center

a, a:visited
  color: $color-link

.content
  padding: 1.5em
  width: 60%

@media screen and (max-width: 64em)
  .content
    width: 90%
    
@import "_partials/header"
@import "_partials/index"

//Code
.highlight 
  font-family: monospace
  background: lighten($color-background, 2%)
  padding-left: 1em
  overflow-x: auto
  margin: 1rem 0 1rem 0
  pre
    padding: 0
    border: none
    background: none
  table
    width: auto
  td.gutter
    display: none
