#index
  padding-top: 1em
  #posts, #projects
    padding-bottom: 1em
    h3
      margin-top: .25em
      margin-bottom: .25em
    a, small
      display: inline-block
    a
      h4
        margin-bottom: .15em
  #projects
    a, p
      display: inline-block
    p
      margin: 0