#footer
  position: fixed
  bottom: 0
  padding: .725em
  font-size: 12px
  color: darken($color-text, 10%)
  width: 60%
  ul
    list-style: none
    li
      display: inline-block
  p, ul
    display: inline
  a
    float: right  

@media screen and (max-width: 40em)
  #footer
    position: absolute
    width: 90%