#header
  a
    text-decoration: none
    h1
      color: $color-text
      margin: 0
  ul
    list-style: none
    -webkit-padding-start: 0
    -webkit-margin-before: .5em
    li
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      border-right: 1px dotted $color-accent
      a
        margin-right: 15px
      &:last-child
        border-right: 0
        margin-right: 0      